

body {
    color:#20292f;
    font-family: 'Droid Arabic Kufi', Oswald;
    font-size: 16px;
     background: #f8f8f8;
}
header {
     width: 100%;
     padding:50px 0;
     background: #ffffff;
}
header img {
     max-height: 200px;
     width: 100%;
}
h1.title {
    color: #000000;
    font-size: 30px;
    font-weight: bold;
}
section.main {

     background: #ff5f5;
     padding: 3px 0;
}
aside {
     background: #fafaff;
     border: 1px solid #eee;
     padding: 10px;
}
aside ul{
padding: 0;
}
li {
    padding: 10px 0;
}
aside a{
    color: #000000;
    font-size: 14px;
    font-weight: bold;
}

.post-outer {
     width: 100%;
     margin: 0 auto 12px auto;
     transition: 0.3s;
     display: inline-block;
     height: auto;
     background-color: #ff9f9;
     line-height: 2;
     border-radius: 21px;
     z-index: 1;
box-shadow: inset 0 0 2px;
}
.post-outer:hover {
     box-shadow: inset 0 0 8px;
transform: translateY(-10px);
     -webkit-transform: translateY(-10px);
     -ms-transform: translateY(-10px);
     -moz-transform: translateY(-10px);
}

h3.post-title.entry-title {

    display: block;
    font-size: 21px;
    text-align: center;
    text-decoration: none;
    margin: 3px 3px 3px 3px;
    padding: 0;
    min-height: auto;
    max-height: none;
    font-weight: 700;
    line-height: 1.2;
    color: #111315;
    font-family: 'Droid Arabic Kufi', Oswald;
    width: 66.66666667%;
    

}
h3.post-title.entry-title a {
    display: block;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    margin: 4px;
    padding: 0 15px;
    min-height: auto;
    max-height: none;
    font-weight: 700;
    line-height: 1.7;
    color: #111315;
    font-family: 'Droid Arabic Kufi', Oswald;
    text-decoration: none;
}
h3.post-title.entry-title a:hover {
    color:#ff8000;
}


p.main-art {
     padding: 0;
     line-height:1.7;
     text-align: right;
     float: right;
     overflow: hidden;
     font-family: 'Droid Arabic Kufi', Oswald;
}
.col-md-12.Share {
    margin-top: 15px;
}
.col-md-12.Share .fa {
    font-size: 20px;
    color: #ff8000;
}
.text-center.more {
    text-align: center;
    float: left;
    margin-bottom: 15px;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}
a.des-more {
    outline: none;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
    line-height: 50px;
    color: #0c0b39;
    border: 1px solid #0c0b39;
    background: #fff;
    float: none;
    margin: 0 auto 15px;
    overflow: hidden;
    max-width: 170px;
    padding: 5px 17px;
    border-radius: 20px;
}
.des-more:hover {
    color: #fff;
    background: #0c0b39;
    border: 1px solid transparent;
}
 aside .widget h2 {
     font-size: 16px;
     background:#0c0b39;
     color: #fff;
     text-align: center;
     padding: 20px 0px;
    
}
footer {
    background:#0c0b39;
    padding: 20px 0 0;
    color: #555555;
}
footer .widget h2 {
    position: relative;
    margin-bottom: 37px;
    font-size:16px;
    color: #ffffff;
    font-weight: bold;
}
footer .widget h2:before {
    background: #ffffff;
    content: "";
    height: 3px;
    left: auto;
    position: absolute;
    width: 75%;
    top: 33px;
    right: 0;
    float: none;
    margin: auto;
}
footer li {
    list-style: none;
    padding: 6px 0;
}
footer a {
    color: #ffffff;
}
 
.footer-bottom {
    background: #ff8000;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    color: #555555;
    font-weight: bold;
}
.FollowByEmail .follow-by-email-inner .follow-by-email-address {
    padding: 1px 6px;
    border: 1px solid #ffffff;
    width: 98% !important;
    height: 35px !important;
}
.FollowByEmail .follow-by-email-inner .follow-by-email-submit {
    width: 60px;
    margin: 0;
    margin-right: 8px;
    margin-left: 0;
    border: 0;
    border-radius: 2px;
    -moz-border-radius: 2px;
    background: #ff8000;
    color: #fff;
    cursor: pointer;
    font-size: 13px;
    height: 35px;
    z-index: 0;
}
span.post-comment-link {
    display: none;
}
.post-footer {
    display: none;
}
li {
    list-style: none;
}
@media screen and (max-width: 992px){
h3.post-title.entry-title {
    width: 100%;
    float: none;
    margin-bottom: 15px;
    font-size: 18px;
}
.col-md-4.main-img img {
    max-height: 400px;
    height: auto;
margin-bottom: 15px;
}
.text-center.more {
    float: none;
}
.col-md-6.Share-inner {
    text-align: center;
    margin: 15px 0;
    display: block;
    overflow: hidden;
    border-top: 1px #ddd solid;
    padding-top: 11px;
}
}
@media screen and (max-width: 768px){
h3.post-title.entry-title {
    width: 100%;
    float: none;
    margin-bottom: 15px;
    font-size: 18px;
}

.fixfix{ 
 position: fixed; 
  background:#ddd;
  width: 100%;
z-index: 100; 
margin:0;
}
 .bodyfixfix{ 
 position:absolute;
margin-top:120px; 
}

/* التالي، السابق، الرئيسية */
.home-link,.blog-pager-newer-link,.blog-pager-older-link { background: #000;background: -moz-linear-gradient(top,#888886,#000);background: -webkit-linear-gradient(top,#888886,#000); color:#fff; font-size:10px; font-weight:bold; line-height:16px; text-decoration:none; border:1px solid #ffff00; padding:5px 15px; border-radius:2px;-webkit-border-radius:2px;-moz-border-radius:2px; }
 .home-link:hover,.blog-pager-newer-link:hover,.blog-pager-older-link:hover { background: #888886;background: -moz-linear-gradient(top,#000,#888886);background: -webkit-linear-gradient(top,#000,#888886); color:#fff; text-decoration:none; border:1px solid #770; border-radius:2px;-webkit-border-radius:2px;-moz-border-radius:2px; } 
#blog-pager-newer-link { float:right; line-height:1.8em; } #blog-pager-older-link { float:left; margin-left:8px; line-height:1.8em; } 
#blog-pager { float:center; height:50px; line-height:1.8em; text-align:center; padding-top:15px }

/* الاشتراك في Atom */
.feed-links{display:none !important;}
