
header {
     width: 100%;
     padding:50px 0;
     background: #ffffff;
}
header img {
     max-height: 200px;
     width: 100%;
}
h1.title {
    color: #000000;
    font-size: 30px;
    font-weight: bold;
}
section.main {

     background: #ff5f5;
     padding: 3px 0;
}
.post-outer {
     width: 100%;
     margin: 0 auto 12px auto;
     transition: 0.3s;
     display: inline-block;
     height: auto;
     background-color: #ff9f9;
     line-height: 2;
     border-radius: 21px;
     z-index: 1;
box-shadow: inset 0 0 2px;
}
.post-outer:hover {
     box-shadow: inset 0 0 8px;
transform: translateY(-10px);
     -webkit-transform: translateY(-10px);
     -ms-transform: translateY(-10px);
     -moz-transform: translateY(-10px);
}

h3.post-title.entry-title {

    display: block;
    font-size: 21px;
    text-align: center;
    text-decoration: none;
    margin: 3px 3px 3px 3px;
    padding: 0;
    min-height: auto;
    max-height: none;
    font-weight: 700;
    line-height: 1.2;
    color: #111315;
    font-family: 'Droid Arabic Kufi', Oswald;
    width: 66.66666667%;
    

}
h3.post-title.entry-title a {
    display: block;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    margin: 4px;
    padding: 0 15px;
    min-height: auto;
    max-height: none;
    font-weight: 700;
    line-height: 1.7;
    color: #111315;
    font-family: 'Droid Arabic Kufi', Oswald;
    text-decoration: none;
}
h3.post-title.entry-title a:hover {
    color:#ff8000;
}

footer {
    background:#0c0b39;
    padding: 20px 0 0;
    color: #555555;
}
footer .widget h2 {
    position: relative;
    margin-bottom: 37px;
    font-size:16px;
    color: #ffffff;
    font-weight: bold;
}
footer .widget h2:before {
    background: #ffffff;
    content: "";
    height: 3px;
    left: auto;
    position: absolute;
    width: 75%;
    top: 33px;
    right: 0;
    float: none;
    margin: auto;
}
footer li {
    list-style: none;
    padding: 6px 0;
}
footer a {
    color: #ffffff;
}
 
.footer-bottom {
    background: #ff8000;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    color: #555555;
    font-weight: bold;
}
.post-footer {
    display: none;
}
li {
    list-style: none;
}
/* الاشتراك في Atom */
.feed-links{display:none !important;}
